<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Cinemate | Login</title>
	<link rel="stylesheet" href="/css/login-sign-up.css">
	<script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
	<script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
</head>
<body>
	<div class="auth-container">
		<div class="logo-title">
			<img src="/images/cinemate-dark.png" id="logo-dark" alt="Cinemate Logo">
			<img src="/images/cinemate-light.png" id="logo-light" alt="Cinemate Logo">
			<h1>Cinemate</h1>
		</div>
		<form id="login-form" action="api/auth/login">
			<input type="email" name="email" placeholder="Email" autocomplete="email" required>
			<input type="password" autocomplete="current-password" name="password" placeholder="Password" required>
			<button type="submit">Login</button>
		</form>
		<div class="divider">
			<span>Don't have an account?</span>
		</div>
		<button class="login-btn">Sign up to create your Cinemate account</button>
	</div>
	<script src="/js/theme.js"></script>
	<script src="/js/login-signin.js"></script>
</body>
</html>
